In [3]:
import pandas as pd
df = pd.read_csv("Delivery time/deliverytime.txt", delimiter=",")
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30
...,...,...,...,...,...,...,...,...,...,...,...
45588,7C09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,Meal,motorcycle,32
45589,D641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,Buffet,motorcycle,36
45590,4F8D,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,Drinks,scooter,16
45591,5EEE,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,Snack,motorcycle,26
45592,5FB2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,Snack,scooter,36

In [4]:
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df['Type_of_order'].unique()

array(['Snack ', 'Drinks ', 'Buffet ', 'Meal '], dtype=object)

In [9]:
df['Type_of_vehicle'].unique()

array(['motorcycle ', 'scooter ', 'electric_scooter ', 'bicycle '],
      dtype=object)

In [16]:
df['Delivery_person_ID'].nunique()

1320

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(df['Type_of_order'].unique())
df['Type_of_order']=le.transform(df['Type_of_order'])
le.fit(df['Type_of_vehicle'].unique())
df['Type_of_vehicle']=le.transform(df['Type_of_vehicle'])
le.fit(df['Delivery_person_ID'].unique())
df['Delivery_person_ID']=le.transform(df['Delivery_person_ID'])

In [19]:
df = df.drop(['Delivery_person_ID','ID'],axis=1)

In [20]:
df

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min)
0,37,4.9,22.745049,75.892471,22.765049,75.912471,3,2,24
1,34,4.5,12.913041,77.683237,13.043041,77.813237,3,3,33
2,23,4.4,12.914264,77.678400,12.924264,77.688400,1,2,26
3,38,4.7,11.003669,76.976494,11.053669,77.026494,0,2,21
4,32,4.6,12.972793,80.249982,13.012793,80.289982,3,3,30
...,...,...,...,...,...,...,...,...,...
45588,30,4.8,26.902328,75.794257,26.912328,75.804257,2,2,32
45589,21,4.6,0.000000,0.000000,0.070000,0.070000,0,2,36
45590,30,4.9,13.022394,80.242439,13.052394,80.272439,1,3,16
45591,20,4.7,11.001753,76.986241,11.041753,77.026241,3,2,26
45592,23,4.9,23.351058,85.325731,23.431058,85.405731,3,3,36

In [21]:
X = df.drop(columns=['Time_taken(min)'])
y = df['Time_taken(min)']

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

array([[ 1.3088078 ,  0.81669202,  0.69973208, ...,  0.23991995,
         1.33252749, -0.41233371],
       [ 0.78218994, -0.40392194, -0.50148783, ...,  0.32992439,
         1.33252749,  1.24752244],
       [-1.14874221, -0.70907544, -0.50133841, ...,  0.32401315,
        -0.45587809, -0.41233371],
       ...,
       [ 0.08003279,  0.81669202, -0.48812769, ...,  0.44637171,
        -0.45587809,  1.24752244],
       [-1.67536007,  0.20638504, -0.73499834, ...,  0.29265882,
         1.33252749, -0.41233371],
       [-1.14874221,  0.81669202,  0.77377088, ...,  0.68944165,
         1.33252749,  1.24752244]])

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 6.636405483731466

In [25]:
y_pred

array([23.69122518, 26.69251436, 36.90364765, ..., 21.64731438,
       25.50443327, 27.48285591])

In [26]:
y_test

7725     44
949      41
44893    39
42071    38
27091    38
         ..
7388     15
6330     34
8426     21
768      17
38292    25
Name: Time_taken(min), Length: 9119, dtype: int64

In [27]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Mean Absolute Error: 6.1569405621154445

In [31]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(16, activation='relu'),  # Additional layer
    tf.keras.layers.Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

# Train the model
history = model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

# Evaluate the model
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
print('Mean Absolute Error:', mae)

Epoch 1/50
912/912 [==============================] - 1s 950us/step - loss: 128.9904 - val_loss: 77.1715
Epoch 2/50
912/912 [==============================] - 1s 773us/step - loss: 72.1117 - val_loss: 70.6839
Epoch 3/50
912/912 [==============================] - 1s 769us/step - loss: 69.4065 - val_loss: 69.1824
Epoch 4/50
912/912 [==============================] - 1s 770us/step - loss: 68.4338 - val_loss: 68.9599
Epoch 5/50
912/912 [==============================] - 1s 767us/step - loss: 66.7882 - val_loss: 66.9044
Epoch 6/50
912/912 [==============================] - 1s 789us/step - loss: 66.0606 - val_loss: 66.8020
Epoch 7/50
912/912 [==============================] - 1s 771us/step - loss: 65.5819 - val_loss: 64.9703
Epoch 8/50
912/912 [==============================] - 1s 768us/step - loss: 65.1959 - val_loss: 65.0310
Epoch 9/50
912/912 [==============================] - 1s 779us/step - loss: 64.9020 - val_loss: 65.2883
Epoch 10/50
912/912 [==============================] - 1s 777us/step - loss: 64.7516 - val_loss: 65.6969
Epoch 11/50
912/912 [==============================] - 1s 776us/step - loss: 64.2070 - val_loss: 64.0215
Epoch 12/50
912/912 [==============================] - 1s 802us/step - loss: 64.2853 - val_loss: 65.2084
Epoch 13/50
912/912 [==============================] - 1s 818us/step - loss: 64.0162 - val_loss: 63.6678
Epoch 14/50
912/912 [==============================] - 1s 782us/step - loss: 63.8840 - val_loss: 64.0223
Epoch 15/50
912/912 [==============================] - 1s 775us/step - loss: 63.6570 - val_loss: 63.4285
Epoch 16/50
912/912 [==============================] - 1s 848us/step - loss: 63.7088 - val_loss: 64.2285
Epoch 17/50
912/912 [==============================] - 1s 774us/step - loss: 63.8711 - val_loss: 63.4722
Epoch 18/50
912/912 [==============================] - 1s 777us/step - loss: 63.6570 - val_loss: 63.9954
Epoch 19/50
912/912 [==============================] - 1s 773us/step - loss: 63.6624 - val_loss: 63.8153
Epoch 20/50
912/912 [==============================] - 1s 785us/step - loss: 63.5659 - val_loss: 62.9517
Epoch 21/50
912/912 [==============================] - 1s 774us/step - loss: 63.5525 - val_loss: 63.1812
Epoch 22/50
912/912 [==============================] - 1s 795us/step - loss: 63.6101 - val_loss: 64.1056
Epoch 23/50
912/912 [==============================] - 1s 771us/step - loss: 63.5675 - val_loss: 63.0409
Epoch 24/50
912/912 [==============================] - 1s 775us/step - loss: 63.2913 - val_loss: 63.5104
Epoch 25/50
912/912 [==============================] - 1s 772us/step - loss: 63.3018 - val_loss: 64.9330
Epoch 26/50
912/912 [==============================] - 1s 772us/step - loss: 63.3466 - val_loss: 63.8918
Epoch 27/50
912/912 [==============================] - 1s 774us/step - loss: 63.3570 - val_loss: 63.4492
Epoch 28/50
912/912 [==============================] - 1s 782us/step - loss: 63.2422 - val_loss: 63.4788
Epoch 29/50
912/912 [==============================] - 1s 773us/step - loss: 63.2522 - val_loss: 63.5630
Epoch 30/50
912/912 [==============================] - 1s 778us/step - loss: 63.3521 - val_loss: 63.9678
Epoch 31/50
912/912 [==============================] - 1s 918us/step - loss: 63.2012 - val_loss: 63.2581
Epoch 32/50
912/912 [==============================] - 1s 777us/step - loss: 63.2092 - val_loss: 62.9458
Epoch 33/50
912/912 [==============================] - 1s 772us/step - loss: 63.1225 - val_loss: 64.3730
Epoch 34/50
912/912 [==============================] - 1s 776us/step - loss: 63.1026 - val_loss: 63.1997
Epoch 35/50
912/912 [==============================] - 1s 793us/step - loss: 63.2273 - val_loss: 62.7955
Epoch 36/50
912/912 [==============================] - 1s 781us/step - loss: 63.0993 - val_loss: 63.6315
Epoch 37/50
912/912 [==============================] - 1s 774us/step - loss: 63.0512 - val_loss: 63.0032
Epoch 38/50
912/912 [==============================] - 1s 819us/step - loss: 62.9498 - val_loss: 63.3270
Epoch 39/50
912/912 [==============================] - 1s 773us/step - loss: 62.8757 - val_loss: 63.4547
Epoch 40/50
912/912 [==============================] - 1s 790us/step - loss: 63.0241 - val_loss: 62.9653
Epoch 41/50
912/912 [==============================] - 1s 772us/step - loss: 62.9710 - val_loss: 63.0231
Epoch 42/50
912/912 [==============================] - 1s 777us/step - loss: 62.9242 - val_loss: 63.2844
Epoch 43/50
912/912 [==============================] - 1s 783us/step - loss: 63.0338 - val_loss: 63.3870
Epoch 44/50
912/912 [==============================] - 1s 781us/step - loss: 62.8263 - val_loss: 63.5637
Epoch 45/50
912/912 [==============================] - 1s 784us/step - loss: 62.8757 - val_loss: 62.8228
Epoch 46/50
912/912 [==============================] - 1s 796us/step - loss: 62.8644 - val_loss: 63.5264
Epoch 47/50
912/912 [==============================] - 1s 778us/step - loss: 62.9106 - val_loss: 63.0046
Epoch 48/50
912/912 [==============================] - 1s 784us/step - loss: 62.8807 - val_loss: 62.6829
Epoch 49/50
912/912 [==============================] - 1s 780us/step - loss: 62.8317 - val_loss: 62.8113
Epoch 50/50
912/912 [==============================] - 1s 782us/step - loss: 62.8763 - val_loss: 63.0325
285/285 [==============================] - 0s 487us/step
Mean Absolute Error: 6.1956356116352485